/* PAGE CONTAINER */
.game2-container {
  min-height: 100vh;
  background: linear-gradient(135deg, var(--green-50), var(--white));
  /* padding-top: 80px; */
  text-align: center;
}

/* Title */
.game2-title {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

/* SLOT MACHINE */
.slot-wrapper {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.slot-box {
  width: 90px;
  height: 120px;
  background: var(--white);
  border-radius: 16px;
  box-shadow: var(--shadow-lg);
  border: 3px solid var(--green-400);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;
  font-weight: 700;
  color: var(--green-800);
  animation: slotIdle 1.2s infinite ease-in-out;
}

@keyframes slotIdle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

/* Spin Button */
.spin-btn {
  margin-top: 20px;
  font-size: 18px;
  padding: 14px 30px;
}
/* btn-rondom-wrap */
.btn-rondom-wrap {
  display: grid;

  align-content: center;
  justify-content: center;
}
/* Modal */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 320px;
  background: var(--white);
  padding: 28px;
  border-radius: 18px;
  box-shadow: var(--shadow-xl);
  text-align: center;
}

.animate-pop {
  animation: popIn 0.35s ease;
}

@keyframes popIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-number {
  margin: 14px 0;
  font-size: 18px;
}

.winner-box {
  background: var(--green-50);
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.modal-fail {
  color: red;
  font-weight: 600;
  margin-bottom: 16px;
}
