.menu-btn {
    display: block;
    padding: 18px;
    margin: 12px 0;
    width: 280px;
    text-align: center;
    background: #1dbf73;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.25s;
    box-shadow: 0 4px 10px rgba(0, 128, 0, 0.15);
}

.menu-btn:hover {
    background: #17a866;
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 128, 0, 0.25);
}